.headewrap{
    background-color: rgba(242, 242, 242, 0.56);
    box-shadow: inset 0px -4px 4px 3px rgba(220, 217, 217, 0.33);
}
.heaedrtop{
    height: 55px;
}
.heaedrtop button{
    display: none;
}
.sitecontainer{
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
}
.nav-top li{
    display: inline-block;
    padding: 20px 10px;
}
.nav-top a{
    color: #b0b0b0;
    text-decoration: none;
    font-family: arial,sans-serif;
    font-size: 14px;
    transition: color 0.4s ease;
}
.on a{
    color: #3AC0C7;
}
.nav-top a:hover{
    color: #3ac0c7;
}

.social-top li{
    display: inline-block;
    padding: 13px 5px;
}
.heaedrbottom{
    background-image: url("../image/header-bottom.jpg");
    background-size: cover;
   /* height: 500px;*/
    background-position-y: center;
    padding-bottom: 10%;
}
.container-fluid{
    padding-right: 0;
    padding-left: 0;
}
.headerbottomwrap h2{
    color: white;
    text-align: center;
    font-family: verdana,geneva,sans-serif;
    padding-top: 15%;
    font-size: 55px;
    word-spacing: 20px;
    letter-spacing: 15px;
}
.headerbottomwrap p{
    color: white;
    text-align: center;
    font-family: verdana,geneva,sans-serif;
    padding-top: 3%;
    font-size: 21px;
    letter-spacing: 8px;
}
/*start body page*/
/*start bodytop*/
.bodytop p{
    margin-top: 50px;
    text-align: center;
    color: #6E6E6E;
    font-size: 18px;
    font-family: arial,sans-serif;
    line-height: 38px;
    margin-bottom: 50px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}
.box img{
    width: 100%;
    height: 100%;
    margin-left: 25px;
    margin-right: 20px;
}
.imagewrap{
    margin-bottom: 150px;
}
.introname{
    position: relative;
    top: -62%;
    background-color: rgba(255, 255, 255, 0.76);
    left: 30%;
    width: 50%;
    text-align: center;
}
.introname a{
    text-decoration: none;
    color: #3AC0C7;
    font-size: 19px;
    font-family: arial,sans-serif;
    letter-spacing: 3px;
    font-weight: bold;
    transition: color 1s ease 0s;
    line-height: 40px;
}
.introname a:hover{
    color: #1E5259;
}

/*.introname a::before{
    content: "";
    clear: both;
    display: block;
    padding-top: 10px;
}
.introname a::after{
    content: "";
    clear: both;
    display: block;
    padding-top: 10px;
}*/
.otherblogs{
    background-color:#f2f2f2;
    padding-top: 25px;
    padding-bottom: 25px;
}
.blogintro h2{
    font-size: 27px;
    padding-top: 25px;
    font-family: arial,sans-serif;
    font-weight: bold;
}
.blogintro h2::after{
    content: "";
    border-right: 2px solid rgba(179, 145, 160, 1);
    margin-left: 25px;
}

/*end blog line*/
/*start main blog*/
.blogboxwrap{
    margin-top: 100px;
}
.blogboxintro-top{
    margin: 0 auto !important;
}
.blogbox{
    margin: 0 auto;
    border: 1px solid #f5f5f5;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 25px;
}
.blogadmin{
    padding-left: 0;
    padding-right: 0;
}
.blogbox img{
    width: 100%;
    margin-bottom: 25px;
}
.blogadmin img{
    width: 45px ;
    height: 45px ;
}
.blogboxwrap p{
    font-family: Arial,sans-serif;
    font-size: 13px;
    color: gray;
}
.blogboxintro{
    margin: 0 auto;
}
.blogbox a{
    text-decoration: none;
    color: black;
}
.blogbox a:hover{
    color: #3AC0C7;
}
.blogboxintro h2{
    font-size: 32px;
    font-family: arial,sans-serif;
    margin-bottom: 20px;
    font-weight: bold;
}
.intro p{
    font-size: 23px;
    line-height: 30px;
    font-style: italic;
    font-family: "Bodoni MT", sans-serif;
}
.views-comment p{
    font-family: Arial,sans-serif;
    font-size: 13px;
    color: gray;
}
.views-comment img{
    width: 25px;
    height: 25px;
}
/*end main blog*/
/*start footer*/
.container-fluid{
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.footertop{
    background-color: #35a9b0;
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
}
.footertop li{
    display: inline-block;
    padding-right: 100px;
}
.footertop a{
    color: white !important;
    text-decoration: none !important;
}
.pic{
    width: 100%;

}
.pic-wrap{
    margin-bottom: -2px;
    display: flex;
    flex-direction: row;
    margin-top: 1px;
}
.footer-image img{
    width: 100%;
}
.footer-image{
}
.hover{
    background-color: rgba(0, 0, 0, 0.75);
    height: 221px;
    background-image: url("../image/social/icons8-heart-outline-64.png");
    background-size: 24px 24px;
    background-repeat: no-repeat;
    background-position: center;

}
.hover img{
    position: relative;
    z-index: -99;
    opacity: 0.4;
}

.footertop img{
    width: 25px;
    height: 25px;
    position: relative;
    top: 6px;
}

.footerbottom{
    background-color: rgba(136, 136, 136, 0.84);
}
.aboutintro img{
    width: 154px;
    height: 154px;
    margin-top: 100px;
}
.about{
    margin-top: 100px;
}
.aboutme{
    margin-left: auto;
    margin-right: auto;
}
.aboutme h2{
    margin-bottom: 25px;
    margin-top: 100px;
    margin-left: 20px;
    color: #ffff;
    font-size: 24px;
    font-family: arial,sans-serif;
    letter-spacing: 5px;
}
.bottomtext p{
    line-height: 26px;
    color: #fff;
    font-family: arial,sans-serif;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 8px;
}
.aboutme a{
    color: #209298;
    letter-spacing: 2px;
    font-family: arial,sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;

}
.social-bottom{
    margin-bottom: 25px;
    width: 100%;
    margin-top: 25px;
}
.social-bottom li{
    display: inline-block;
    padding-left: 35px;
}
.social-bottom li:first-child{
    padding-left: 0;
}
.copy{
    color: #ffffff;
    letter-spacing: 1px;
    word-spacing: 1px;
    text-align: center;
}
.messagebox-inside{
    margin-top: 100px;
}
.messagebox-inside h3 {
    color: white;
    font-size: 35px;
    font-family: arial, sans-serif;
    margin-bottom: 15px;
}
.messagebox-inside input{
    width: 100%;
    height: 40px;
    border: none;
}
.messagebox-inside button{
    width: 100%;
    margin-top: 5px;
    height: 36px;
    background-color: #0cc7d2;
    border: none;
    color: white;
    font-family: arial,sans-serif;
    letter-spacing: 2px;
    font-size: 15px;
}

/*end footer*/
/*footer slider page*/
/*.postwrap{
    padding-left: 200px;
}
.bx-wrapper{
    -webkit-box-shadow: none;
     box-shadow: none;
     border:none;
}

.slideimg img{
}
.user{
    display: flex;
    margin-left: -17px;
    margin-top: 100px;
}
.user img{
    width: 35px;
    height: 35px;
    border-radius: 50px;
}
.user p{
    float: right;
    padding: 8px 15px;
}
.user span::after{
    content: "";
    border-bottom: 1px solid #d0d0d0a6;
    width: 282px;
    display: block;
    padding-top: 50px;
    margin-left: -131px;
}
#count{
    border-bottom: none;
    width: 0;
    padding-top: 0;
    margin-left: 0;
}
.wrap1{
    display: flex;
}
.like img{
    width: 16px;
    height: 16px;
    float: left;
}
.count{
    float: right;
}
.like{
    list-style: none;
    position: relative;
    top: 59px;
    left: -279px;
}
.like li {
    display: inline-block;
    padding-right: 20px;

}
.slideimg{
    width: 800px;
    height: 800px;
}
.slideimg img{
    height: 700px;
    width: 723px;
    margin-top: 100px;
}
.bx-next{
    left: 87%;
    background: url(../image/social/sliderarows.png) no-repeat 0 2px !important;
}
.bx-prev{
    left: 10px;
    background: url(../image/social/prev.png) no-repeat 0 2px !important;
}
.bx-wrapper .bx-controls-direction a{
    position: absolute;
    top: 51%;
    margin-top: -16px;
    outline: 0;
    width: 32px;
    height: 62px;
    text-indent: -9999px;
    z-index: 9999;
}
.sliderwrap{
   display: initial;
}*/
#galery{
    height: 100vh;
    background-color: white;
    display: none;

}
.mainimg{
}
.mainimg img {
    width: 757px;
    position: absolute;
    /* overflow: hidden; */
    margin-left: 260px;
    margin-top: -30px;
    height: 620px;
}
.rates{
    display: flex;
    position: relative;
    top: -31px;
    left: 1076px;
    width: 300px;
}

.rates img{
    width: 35px;
    height: 35px;
    border-radius: 50px;
}
.rates p{
    width: 213px;
    position: relative;
    left: 25px;
    top: 6px;
}
.rates span::after{
    content: "";
    border-bottom: 1px solid #d0d0d0a6;
    width: 209px;
    display: block;
    padding-top: 50px;
    margin-left: -115px;
}
.like{
    llist-style: none;
    position: relative;
    top: 59px;
    left: -203px;
    width: 280px;
}
.like li {
    display: inline-block;
    padding-right: 15px;

}
.like img {
    width: 16px;
    height: 16px;
    float: left;
}
.count{
    float: right;
}
#close{
    position: relative;
    left: 1550px;
    top: 35px;
}
.prev, .next{
    position: relative;
    top:370px;
}
.next{
    left: 1325px;
    background-image: url("../image/social/sliderarows.png");
    background-repeat: no-repeat;
    width: 23px;
    height: 53px;
    background-size: 23px 53px;
    display: block;
    top:317px;
}
.prev{
    background-image: url("../image/social/prev.png");
    background-repeat: no-repeat;
    width: 23px;
    height: 53px;
    background-size: 23px 53px;
    display: block;
    left: 120px;
}
#close{
    background: initial;
    border: none;
    background-image: url("../image/social/closegallery.png");
    width: 36px;
    height: 33px;
}
/*start about page*/
.aboutmepage h2{
    color: black;
    margin-bottom: 80px;
    font-size: 36px;
    font-family:"Times New Roman",sans-serif;
    margin-top: 25px;
    padding: 0 133px;
}
.biowrap{
    display: flex;
    justify-content: space-between;
    padding: 0 125px;
    margin-bottom: 100px;
}

.bioimage img{
    width: 100%;
    height: 90%;
    margin-left: 81px;
}
.biography p{
    margin-bottom: 45px;
    width: 367px;
    line-height: 1.5em;
    font-size: 15px;
    font-family: arial;
    color: #7e7e7e;
}
.biography p:nth-child(4){
    margin-bottom: 5px;
}
.biography a{
    color: #3AC0C7;
}
.pagetitle{
    padding: 0 151px;
    margin-bottom: 70px;
    margin-top: -50px;
    font-size: 36px;
    font-style: italic;
}
.pageintro{
    padding-left: 156px;
    width: 75%;
    margin-bottom: 50px;
    font-size: 14px!important;
    line-height: 1.5em;
    color: rgba(126, 126, 126, 0.64) !important;
}
/*video part*/
.mainvideo{
    width: 80%;
    position: relative;
    left: 119px;
    margin-bottom: 700px;
}
.mainvideo video{
  width: 100%;
}
#video1 , #video2, #video3{
    position: absolute;
}



.videomenu{
    height: 200px;
    overflow: hidden;
    width: 81%;
    display: flex;
    margin: 100px auto;
}
.bottomvideo1, .bottomvideo2,
.bottomvideo3,
.bottomvideo4{
    height: 180px;
    width: 316px;
    margin-right: 11px
}
.dimensions{
    width: 316px;
    height: 180px;
}
.videocover1 , .videocover2,
.videocover3, .videocover4{
    width: 316px;
    height: 180px;
    background-color: rgba(0, 0, 0, 0.5);
    position: relative;
    top: -183px;
    display: none;
    cursor: pointer;
}
.playbutton{
    width: 50px;
    height: 50px;
    border: 2px solid white;
    margin: 18% auto;
    border-radius: 50px;
    background-image: url(../image/social/play.png);
    background-repeat: no-repeat;
    background-position: 17px 13px;
}
.videocover1 , .videocover2,
.videocover3, .videocover4 span{
    color: white;
    font-size: 15px;
    font-family: sans-serif;
    letter-spacing: 2px;
    font-variant: small-caps;
}